<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<react_vue_config>
			<vue>
				<enable>0</enable>
			</vue>
			<react>
				<enable>0</enable>
			</react>
			<gridjs>
				<enable>0</enable>
			</gridjs>
			<junk>
				<remove>1</remove>
			</junk>
			<css>
				<remove>1</remove>
				<critical>1</critical>
			</css>
		</react_vue_config>
	</default>
</config>
