<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="react_vue" translate="label" sortOrder="999">
			<label>React-Luma integration</label>
		</tab>
		<section id="react_vue_config" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Configuration</label>
			<tab>react_vue</tab>
			<resource>React_React::config_react_react</resource>
			<group id="vue" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>VueJS configuration</label>
				<field id="enable" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Add VueJS script </label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>enable VueJS</comment>
				</field>
			</group>
			<group id="react" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>ReactJS configuration</label>
				<field id="enable" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Add ReactJS script</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>enable ReactJS</comment>
				</field>
			</group>
			<group id="gridjs" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>GridJS jQuery Plugin configuration</label>
				<field id="enable" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Add GridJs script</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>enable GridJS (https://gridjs.io/)</comment>
				</field>
			</group>
			<group id="junk" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Magento JS configuration</label>
				<field id="remove" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Remove Adobe JS Junk</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Remove Magento's default JS garbage (Require,Knokout,jQuery). You will need implement required functionality or use Magento Open Source ReactJS Luma Theme</comment>
				</field>
				<field id="defer_js" type="select"  sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Defer JS (Move Scripts to Bottom)</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Move JavaScript files to the bottom of the page for better performance. Scripts with no-defer attribute are preserved in their original position. Use GET parameter ?defer-js=true/false to override.</comment>
					<config_path>react_vue_config/junk/defer_js</config_path>
				</field>
			</group>
			<group id="css" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Magento CSS configuration</label>
				<field id="remove" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Remove Adobe CSS Junk</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Remove Magento's default CSS garbage. You will need add optimized CSS to pub/static/styles-m.css and pub/static/styles-l.css. The files will be automaticaly included if they are exists</comment>
				</field>
				<field id="critical" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>CSS to HTML</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Output Critical CSS to HTML</comment>
				</field>
				<field id="defer_css" type="select"  sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Defer CSS (styles-l.css)</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Desktop: Loads synchronously using document.write() (blocking, before FCP). Mobile: Loads asynchronously with 1500ms delay. Only applies to stylesheets with desktop media queries (min-width). Use GET parameter ?defer-css=true/false to override.</comment>
					<config_path>react_vue_config/css/defer_css</config_path>
				</field>
			</group>
			<group id="product" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Product configuration</label>
				<field id="base64_image" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enable Base64 Image Encoding</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Convert mobile product images to base64 format. Can improve LCP by 0.1-0.2s but increases HTML size.</comment>
				</field>
			</group>
		</section>
	</system>
</config>
